/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
	/*background-color:#222;
	background: url("../images/slide-image-3.jpg") no-repeat fixed center top / cover transparent;*/
    min-height: 100%;
    min-width: 100%;
	color: #fff;
}

a:link, a:visited {
    color: #ff4400;
    text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

#section-header{
	/*background-color: #fff;padding: 7px 0 10px;
	background: -moz-linear-gradient(center top , #464646, #000000) repeat scroll 0 0 transparent;
    box-shadow: 1px 1px 2px #000000;*/
    min-height: 58px;
	
	
	background-image: linear-gradient(bottom, rgb(70,70,70) 6%, rgb(0,0,0) 57%);
	background-image: -o-linear-gradient(bottom, rgb(70,70,70) 6%, rgb(0,0,0) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(70,70,70) 6%, rgb(0,0,0) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,70,70) 6%, rgb(0,0,0) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(70,70,70) 6%, rgb(0,0,0) 57%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(70,70,70)),
		color-stop(0.57, rgb(0,0,0))
	);

}
.breadcrumb a {
	color: #ff4400;
	text-decoration: none;
}


/* ### responsive menu ### */
#zone-menu-wrapper {
    /*
    fix for ie z-index problem, add this on the top container that holds your menu block
    */
    position:relative;
    z-index:2
}
#block-menu-menu-accordion {
    margin-bottom:1em;
}
#block-menu-menu-accordion ul.menu {
    margin:0;
    padding:0;
    list-style:none;
    position:relative
}
#block-menu-menu-accordion ul.menu li {
    list-style: none;
}
#block-menu-menu-accordion ul.menu li a {
    display: block;
    line-height: 2em;
    padding: 0.5em;
    outline:none;
    background:#ff9900;
    color:#FFF;
    border:1px solid #666;
	list-style: none;
	text-decoration: none;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}
#block-menu-menu-accordion ul.menu li a:hover {
    background:#FCD705;
    text-decoration:none
}
#block-menu-menu-accordion ul.menu li a.active {
    background:#FCD705;
    text-decoration:none
}
#block-menu-menu-accordion ul.menu li span.over {
    background:#CCC;
    color: #000000;
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    padding: 0 0.5em;
    text-align: center;
    cursor:pointer;
	border:1px solid #666;
}
#block-menu-menu-accordion ul.menu li span.over:hover {
    background:#FCD705;
    color:#FFF
}
#block-menu-menu-accordion ul.menu ul {
    margin:0;
    padding:0;
    display:none;
}
#block-menu-menu-accordion ul.menu ul li a {
    text-indent:0;
    color:#000;
    background:#CCC;
    text-decoration:none;
}
#block-menu-menu-accordion ul.menu ul li a:hover {
    background: #EBEBEB
}
#block-menu-menu-accordion ul.menu ul li a.last {
    border-bottom: none;
}

#secondary-menu {display:none;}

.zone-content { 
	margin-top: 15px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
	/*opacity:0.8;*/
	-moz-border-radius:12px;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	box-shadow: 1px 1px 2px #000000;
	background: url("../images/content_bg.png");
}

li.pager-previous {width:60px;}
h1 #page-title .title {padding-bottom:0;}
/*#block-block-3.block .block-block .block-3 .block-block-3 .odd{ background-color:#ff4400;}*/

#region-sidebar-first .block {
	padding: 5px;
	border: 1px solid #ff4400;
	margin-bottom: 15px;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}
#region-sidebar-first .block  ul li{
	list-style: none;
}